# IDE
.idea/
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Testing
.coverage
htmlcov/
pytest_cache/

# FastAPI / Uvicorn logs
*.log
